<form (submit)="createUser($event)">
  <div class="input">
    <label>Username</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Email</label>
    <input type="text">
  </div>
  <div class="input">
    <label>Password</label>
    <input type="password">
  </div>
  <div class="input">
    <label>Retype Password</label>
    <input type="password">
  </div>
  <div class="input">
    <input type="submit" value="Create User">
  </div>
  <p>
    <b>{{ message }}</b>
  </p>
</form>